# Auto detect text files and perform LF normalization
* text=auto

# Explicitly define text files
*.dart text
*.yaml text
*.json text
*.xml text
*.html text
*.css text
*.js text
*.md text
*.txt text
*.svg text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.zip binary
*.jar binary
*.so binary
*.dylib binary
*.dll binary
